.content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 8fr; */
}

.header {
    background-color: rgba(3, 4, 61, 0.432);
    padding: 10px;
    display: none;
}

.info_companion {
    display: flex;
}

.avatar {
    height: 50px;
    width: 50px;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
}

.avatar img {
    height: 100%;
    width: 100%;
}

.nikname {
    display: inline-block;
    margin: 5px 0 0 10px;
}

.messages {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: rgb(22, 18, 54);
    height: 100%;
}

.message__content {
    display: grid;
    overflow-y: scroll;
    height: 90vh;
    padding-bottom: 80px;
    padding-top: 20px;
}

.message__item {
    position: relative;
}

.message__item p {
    background-color: rgb(89, 72, 151);
    color: rgb(32, 14, 73);
    border-radius: 50px;
    padding: 10px;
    margin: 4px 0;
    display: inline-block;
    position: relative;
}

.message__item span {
    opacity: .8;
    position: absolute;
    bottom: 4px;
    border-radius: 16px;
    left: -10px;
    background-color: rgba(11, 18, 43, 0.932);
    color: rgb(86, 89, 146);
    font-size: 12px;
    padding: 2px 8px;
}

.other span {
    left: auto;
    left: 10px;
}

.you {
    justify-self: end;
}

.you p {
    border-radius: 50px 0 0 50px;
    background-color: rgb(95, 97, 204);
    color: rgb(30, 3, 95);
    /* border-radius: 8px 8px 2px 8px; */
}

.other p {
    border-radius: 0 50px 50px 0;
    /* border-radius: 16px 8px 16px 0px; */
    background-color: rgb(15, 31, 104);
    color: rgb(67, 70, 255);
    /* border-radius: 8px 8px 8px 4px; */
}

.message__creat {
    display: grid;
    position: fixed;
    bottom: 50px;
    grid-template-columns: 10fr 2fr;
    grid-row: 1fr;
    padding: 8px 8px;
}

.message__input {
    background-color: #2c3869;
    border-radius: 8px;
    border: none;
    margin-right: 5px;
    padding: 10px;
    color: #eee;
    width: 99%;
    height: 100%;
}

.button_submit {
    background-color: #2c3869;
    color: #0a0f2e;
    border: none;
    border-radius: 8px;
}