.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    /* padding: 10px; */
}

.messages .message {
    color: white;
}

.content {
	grid-area: content;
	background-color: rgb(23, 30, 58);
	-webkit-box-shadow: 0 0 3px 1px #03112b;
	box-shadow: 0 0 3px 1px #03112b;
	color: rgb(78, 76, 206);
	border-radius: 16px;
	-webkit-box-shadow: 0 0 3px 1px #03112b;
	box-shadow: 0 0 3px 1px #03112b;
    overflow: hidden;
}

h2 {
    color: rgb(62, 77, 207);
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(12, 5, 73, 0.918);
}

.messages {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 1fr;
    height: 90vh;
    margin: auto 0;
    overflow: hidden;
    /* overflow-y: ; */
}
